.container{
  padding: 0 50px;
  display: flex;
  align-items: center;
}

.doughnut_container{
  width:80%
}

/* Lateral Cards */
.card{
  width:135px;
  border-radius: 5px;
  background-color: white;
  color:black;
  padding: 5px 10px;
  margin: 20px 0;
}

.infected{
  border-bottom: 5px solid #8C9EFF;
}

.recovered{
  border-bottom: 5px solid #A7FFEB;
}

.deaths{
  border-bottom: 5px solid #ff8a80;
}