@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

.body_card{
    padding: 20px 0;
}
.vax_name{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    padding-bottom: 10px;
}